<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <gazebo reference="camera_link">
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 -1.5708 1.5708</pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <topic>camera/image_raw</topic>
            <gz_frame_id>camera_rgb_frame</gz_frame_id>
            <camera name="pinky_camera">
                <camera_info_topic>camera/camera_info</camera_info_topic>
                <horizontal_fov>1.08</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </camera>
        </sensor>
    </gazebo>

</robot>